*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0px;
    background: #17191C;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;

    -webkit-font-smoothing: atnialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    width: 100%;
    height: 100%;
    
}

.body__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

body .main__page-wrapper {
    background: url(./img/hero.png) center top no-repeat, url(./img/bottom-pic.png) center bottom 306px no-repeat, url(./img/фон.png) repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0px;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.logo {
    top: 26px;
    left: 0px;
    display: block;
}

ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul {
    padding-inline-start: 0;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__link {
    color: white;
    font-size: 14px;
}

.menu__link:hover {
    color: #FF3D00;
}

.menu__item {
    display: inline-block;
    margin-right: 54px;
    vertical-align: middle;
}

.menu__item:last-child {
    margin-right: 0;
}

.socials__link-active {
    color: #FF3D00;

}

.socials__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: calc(30px + 36px * 4);
}


.contacts {
    right: 0px;
    top: 10px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 14px;
    text-decoration: underline;
    color: #FF3D00;
    
}

button {
    background: transparent;
    color: white;
    padding: 0px;
    outline: none;
    border: 1px solid transparent;
    font-weight: bold;
}



.hero__content    {
    text-align: center;
    width: 780px;
    margin: auto;
}

.hero__title {
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    line-height: 98px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;

}

.hero__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 45px;
}


.services {
    margin-top: 233px;
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__header {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 17px;
}
.services__item {

    width: calc(100% / 3 - 18px);
    background-color: white;
    min-height: 450px;
    color: black;
    overflow: hidden;
    line-height: 22px;

    padding: 40px 34px 53px 22px;
    border-radius: 5px;
} 

.services__item b {
    color: black;
}

.services__icon {
    margin-bottom: 30px;
    margin-left: 7px;
}

.services__text-block {
    width: calc(50% - 40px);
    color:  #666666;
}

.services__button-wrapper {
    margin-top: 29px;
}
.services__text-desc {
    margin-top: 25px;
    font-size: 14px;
    color:  #666666;
}

.services__text-wrapper {
    display: flex;
    justify-content: space-between;

}

.button {
    
    background: #FF5500;
    border-radius: 35px;

    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
    padding: 19px 54px;
    cursor: pointer;
    border: 2px solid transparent;
}

.button-border {
    border-color: #FF5500;
    background: transparent; 
    color: #FF5500;
}

.news {
    margin-top: 180px;
}

.news__title {
    font-weight: 800;
    text-transform: uppercase;
}

.news__list{
    margin: 0;
    margin-top: 51px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


.news__item {
    
    width: calc(50% - 12px);

    overflow: hidden;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 80px 25px 30px;
    min-height: 140px;
}

.news__date-month , .news__date-year {
    display: inline-block;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item {
    vertical-align: top;
    position: relative;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-top: 12px;
}

.news__text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 9px;
}


.paginator {
    margin-top: 53px;
    height: 32px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__description {
    margin-right: 25px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__link {
    color: white;
    
    font-weight: 700;
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.paginator__item {
    text-align: center;
}

.paginator__link-active {
    background: #FF5500;
}

.paginator__link:hover {
    background: #FF5500;
}

.about {
    color: black;
    margin-top: 142px;
    margin-bottom: 53px;
}


.about__content:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url("./img/cameraman.png") center center / cover no-repeat;
    display: block;

}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__desc {
    background: white;
    padding: 70px 202px 66px 81px;
    border-radius: 5px;
    max-width: 785px;
    margin-left: -137px;
    margin-top: 97px;
    line-height: 27px;
    font-size: 16px;

}

.about__content:before, .about__desc {
    display: inline-block;
    vertical-align: top;
}

.about__desc-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 37px;
}


.about__desc-text {
    margin-bottom: 43px;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0px;
}


.about__button-wrapper {
    display: inline-block;
    bottom: 66px;
}




.footer {
    height: 146px;
    margin-top: 53px;
    padding-top: 40px;
    border-top: 4px solid #353538;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item-icon-telegram .socials__link {
    background-image: url(./img/telegram.png);
}

.socials__item-icon-vk .socials__link {
    background-image: url(./img/vk.png);
}
.socials__item-icon-fb .socials__link {
    background-image: url(./img/f.png);
}
.socials__item-icon-inst .socials__link {
    background-image: url(./img/in.png);
}

.footer__contacts {
    font-style: normal;
    text-align: right;
}



.footer__contacts-text {
    font-size: 11px;
    color:  #9A9A9A;
}

