.review-page {
    background: white;
    color: #303030;
    padding: 94px 0 91px 0;
}

.reviews__item {
    margin-bottom: 20px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
    border-radius: 4px;
}

.reviews__list {
    column-count: 2;
    column-gap: 30px;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__photo {
    margin-right: 22px;
}    

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #2E77A4;
    margin-bottom: 11px;
    background: #F4F5F5;
}

.review__user:after     {
    content: url("./img/vk-blue\ 1.png");
    height: 29px;
    margin-left: 7px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
    /* max-width: 150px; */
}

.tag__bg__pink  {
    background: #F2D4C9;
}

.review__title {
    font-size: 30px;
    color: #202020;
    font-weight: 700;
    margin-bottom: 23px;
}

.review__content-text {
    margin-bottom: 50px;
    color: #818181;
}

.review__date {
    font-size: 14px;
    color: #202020;
    font-weight: 700;

}

.separator  {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background:  #373737;
    background: url("./img/party.png") center center no-repeat, linear-gradient(0deg, #373737, #373737);
}

.separator__content {
    max-width: 50%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}

.orange {
    color: #FF5500;
}

.review-page .paginator__link  {
    color: black;
}
.review-page  .paginator__link:hover {
    background: #FF5500;
    color: white;
}

.form-section {
    background: #F4F5F5;
    padding: 79px 0 79px 0;
}

.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex:1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color:#1A1B1E;
}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input-textarea {
    height: 232px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

.form__controls {
    display: flex;
    color: #1A1B1E;
    margin-bottom: 35px;
}

.form__controls-title {
    width: 40%;
    padding-left: 30px;
    font-size: 18px;
}

.form-section__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 56px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}


.btn__color__grey {
    background: #8E8E8E;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 20px;
}