
.top-line {
    min-height: 416px;
    background: url(./img/top-line.png) right 20% top no-repeat;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 27px;
}

.top-line__container .header {
    margin-bottom: 0 ;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    color: #9A9A9A;
}

.breadcrumbs__item-active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:after {
    content: " / ";
    margin-left: 4px;
    margin-right: 4px;
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.service-page {
    background: white;
    color: #303030;
    padding: 94px 0 91px 0;
}

.service__link {
    display: flex;
}

.button:hover  {
    border-color: #FF5500;
    background: white; 
    color: #FF5500;
}

.service-page__item-content {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px 12px 56px;
}

.service-page__item-title {
    color: black;
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 25px;
}

.service-page__item-desc p{
    margin-top: 34px;
    font-size: 16px;
    line-height: 27px;
}


.service-page__item-desc p:first-child{
    margin-top: 0;
}

.service-page__item-content .button  {
    width: 198px;
}

.service-page__item-content .button {
    margin-top: 25px;
}

.service-page__img {
    max-height: 100%;
    max-width: 460px;
}

.service-page__item:last-child {
    margin-top: 49px;
}

.paginator .service-page {
    margin-top: 69px;
}

.service-page .paginator__link  {
    color: black;
}

.service-page  .paginator__link:hover {
    background: #FF5500;
    color: white;
}

.partners-section {
    background: #F4F5F5;
    
    padding: 88px 0 110px 0;
    
}

.partners-section__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 700;
    color: #1A1B1E;
}

.partners-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.partners-section__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 140px;
    align-items: center;
    justify-content: center;
}

.partners-section__item {
    margin-left: -30px;
}

.service-page_footer {
    border-top: none;
}